/* 87% Midterm-1 */


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   color: #fff;
   font-family: Inter, sas-serif;
   font-size: 15px;
   letter-spacing: 0.5px;
   outline: none;
}

body {
 
   background:#050b24 url('https://github.githubassets.com/images/modules/site/home/hero-glow.svg') no-repeat 55% 20%;
   background-size: 170% auto;


}

/* Header */

.container {
   width: 90%;
   margin: 0 auto;
   max-width: 1300px; /* ? -5%*/
   display: flex;
   justify-content: space-between;
   padding: 20px;
}

nav {
   display: flex;
   justify-content: center;
   align-items: center;
   
}
  
nav svg {
   fill: #fff;
}

nav a {
   margin-left: 20px;
   font-family: Helvetica;
}




.search {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.search div {
   margin-left: 20px;
}

.search_item {
   display: flex;
   align-items: center;
  
}

.sign-up {
   border: 1px solid #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 6px 5px 5px;
   border-radius: 5px;
}

.search input {
   padding: 9px;
   border: none;
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.2);
   width: 230px;
}

/* Main */

.main {
   display: flex;
   justify-content: center;
   max-width: inherit;
}

.content {
  display: flex;
  /* justify-content: center; */
  
  /* margin: 0 auto; */
  /* padding: 0 180px; */
  width: 80%;
  
}



.content_info {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 55%;
   
}

.content_gif {
   width: 25%;
}

.content_title h1 {
   font-size: 75px;
   font-weight: 800;
   margin-bottom: 15px;
}

.content_suptitle h4 {
   font-size: 25px;
	line-height: 35px;
	font-weight: 400;
	letter-spacing: 0;
	color: #8193B2;
	margin-bottom: 30px;

}

input {
   padding: 12px 40px;
   border-radius: 5px;
   border: none;
}

button {
   background-color: #2fa751;
   padding: 12px 5px;
   margin-left: 3px;
   border: none;
   border-radius: 5px;
   font-weight: 800;
}

.enterprise-section {
	height: 50px;
	background-color: #FFF;
	margin-top: -5px;
}

/* Statistics */

.stats-wrapper hr {
	height: 1px;
	border-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 15px;
   
   
}

.stats {
	display: flex;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding-top: 20px;
	
   width: 900px;
   justify-content: center;
   align-items: center;
   
}

.stat {
	margin-right: 50px;
}

.stat h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 2px;
	font-family: "Consolas";
}

.stat h4 {
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 2px;
	font-family: "Consolas";
	opacity: .5;
}